* {
    margin: 0px;
    padding: 0px;
  }
  body {
    background-color: #D49B54;
  }
    
  h1 {
    margin-bottom: 20px;
  }
  input {
    display: block;
    width: calc(100% - 30px);
    margin-bottom: 10px;
    /* height: 30px; */
    padding: 15px;
    outline-color: red;
  }
  button {
    display: block;
    width: 100%;
    text-align: center;
    height: 35px;
    line-height: 35px;
    background-color: #D49B54;
    color: white;
  }
  .box{
    width: 600px;
    background-color: white;
    margin: 20px auto;
    padding: 20px;
  
  }